:root {
	--main-background: #0b0c0f;
	--main-fonts-color: #ed8d8d;
	--main-decor-color:rgba(241, 71, 148, 0.616);
    --main-header-background:#21252e;
	--main-font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/*#particles {
    width: 100%;
    height: 100%;
    background-color: #010101;
    position: fixed;
    z-index: -2;
}*/

img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	object-fit: cover;
}

main {
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

/*────────────────── 
       header
──────────────────*/

header {
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

.nav-show {
	opacity: 0;
}

header:hover {
	opacity: 1;
	background: var(--main-header-background);
}

.logo img {
	padding-top: 5px;
	height: 50px;
	cursor: pointer;
}

.nav-bar {
	list-style:none;
	position: relative;
	display: inline-flex;
	vertical-align: -webkit-baseline-middle;
}

a.nav-link,
button {
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	text-transform: uppercase;
	text-align: center;
	margin: 1.5em;
    width: 8.7em;
    height: 2.8em;
    line-height: 2.8em;
    color: #dddcc2;
    border-radius: 5px;
    padding: 0;
    font-weight: 900;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
}

button {
	font-weight: bolder;
	margin-left: 0;
}

.active {
	background: var(--main-decor-color);
}

.nav-link:before,
.nav-link:after,
button:before,
button:after {
	content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgba(241, 71, 148, 0.616);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition:400ms ease all;
}

.nav-link:after
button:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.nav-link:hover:before,
.nav-link:hover:after,
button:hover:before,
button:hover:after {
    width:100%;
    transition:800ms ease all;
}

.nav-link:hover
button:hover {
	color: #ed8d8d;
    background: transparent;
    box-shadow:none;
}

/*──────────────────
       home
──────────────────*/

#home { 	
	margin: auto;
	height: 100%;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#home .filter {
	background: url('https://i.imgur.com/kTmpHKo.jpg') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:.20;
}  

.intro {
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro p {
    margin: 20px;
	font-size:1.5em;
	font-family: var(--main-font-family);
	text-align:center;
	color: #dddcc2; 
}

h3 {
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 65px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
	margin-top: 70px;
}

strong {
	font-size: 1.5em;
}


/*──────────────────
    social media
──────────────────*/

.social-media {
	padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i {
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      projects
──────────────────*/

#projects {
	margin-top:100px;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
}
#projects h3 {
    padding-top: 70px;
}
#projects p {
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
	color: #dddcc2; 
}

p {
	font-family: var(--main-font-family);
	font-size: 1rem;
	padding: 10px;
	color: #ed8d8d;	
}

.work {
	display: flex; 
	flex: 1;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
	padding: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 320px;
	height:420px;
	border-radius:12px;
    background:var(--main-decor-color);
}

.card img { 
	width: 100%;
	height:70%;
	border-radius:10px 10px 0px 0px;
}

.card .work-content {
	text-align: center;
	padding: 10px 5px;
	font-size: 1rem;
	color: #dddcc2;
	font-family: var(--main-font-family);
	cursor: pointer;
}

.card a {
	text-decoration: none;
}

.card .work-content:hover {
    color:#faf8db;
}

.card:hover {
	box-shadow: 0 0 1.5rem gray;
}

/*──────────────────
      Contact
──────────────────*/

#contact {
	margin: auto;
	padding-bottom: 20px;
	height: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
}
	
#contact p {
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-family: var(--main-font-family);
	color: #dddcc2;
}

#contact-btn {
	border: 0.5px solid #dddcc2;
	border-radius: 0;
	border-left: transparent;
	border-right: transparent;
}

.logos {
	height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

#clr {
    color: #86003c;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
  
aside {
    padding-left: 3.25em;
    text-align:center;
}
  
.row {
    color: #dddcc2;
    padding-left: 0;
}

input[type="text"],
select,
textarea {
    width: 70%;
    padding: 0.75em;
    border: 1px solid #282e34;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
label {
    padding: 0.75em 0.75em 0.75em 0;
    display: inline-block;
    font-size: 20px;
}
  
.container-contact {
    border-radius: 5px;
    background-color: #282e34;
    padding: 1.25em;
    width:33%;
	margin: auto;
	border-bottom: 50px solid var(--main-background);
}

#form-button {
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: -5px;
    margin-top: 2.5em;
}

.thankyou_message {
    height: 2em;
}

.column25 {
    float: left;
    width: 25%;
    margin-top: 0.375em;
}
  
.column75 {
    float: left;
    width: 75%;
    margin-top: 0.375em;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
	margin: 2px;
	height: 3px;
	width: 150px;
    border-radius:5px;
	border: hidden;
	margin-inline-start: auto;
    margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar {
    width: 5px; 
	background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb {
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}
::-webkit-Scrollbar-track {
	margin-top: 80px;
	border-radius: 10px;
}

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
	display: none;
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition:all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade {
	from{
		opacity:0;
		transform: translatex(50px);
	}
	to{
		opacity: 1;
		transform:translatex(0px);
	}
}

/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.work{
        padding:20px 20%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.container-contact {
		width: 60%;
	}

	.column25 {
		width: 35%;
		margin-left: 55px;
	}

	textarea, #fname, #email {
		width: 100%;
		margin-left: 55px;
	}

	#email {
		width: 100%;
	}
}

@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	.work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 500px) {
  	   #home, #projects, #contact{
        overflow-x: hidden;
	}
	header{
		background-color: var(--main-header-background);
	}
	.logo{
		position:absolute;
		top: 2px;
		left: 30px;
	}
	.nav-show{
		opacity: 1;
	}	 
	.nav-bar{
		position:fixed;
		top: 0px;
		right:0;
		width:60%;
		height: 100vh;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
		background:var(--main-header-background);
		transform:translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}
	.hamburger{
		position:absolute;
		top: 17px;
		right: 25%;
		display: block;
		cursor:pointer;
		z-index: 5;
	}	
	.nav-bar li{
		opacity:0;
	}
}

@media only screen and (max-width: 731px) and (min-width: 411px) {
	#projects {
		margin-top: 0;
	}

	.container-contact {
		width: 75%;
	}

	.column25 {
		width: 35%;
		margin-left: 35px;
	}

	textarea, #fname, #email {
		width: 100%;
		margin-left: 35px;
	}

	#email {
		width: 100%;
	}
}

@media only screen and (max-width: 568px) and (min-width: 320px) {
	h3 {
		margin-top: 60px;
		padding-top: 15px;
	}
	
	.intro p {
		margin-bottom: 0;
	}

	#projects {
		margin-top: 30px;
	}

	.card {
		width: 300px;
	}


	.container-contact {
		width: 75%;
	}

	.column25 {
		width: 35%;
		margin-left: 35px;
	}

	textarea, #fname, #email {
		width: 100%;
		margin-left: 35px;
	}

	#email {
		width: 100%;
	}
}

@media only screen and (max-width: 823px) and (min-width: 411px) {
	h3 {
		padding-top: 0;
	}
}

@media only screen and (max-width: 667px) and (min-width: 375px) {
	h3 {
		padding-top: 40px;
	}
}

@media only screen and (max-width: 736px) and (min-width: 414px) {
	h3 {
		padding-top: 40px;
	}
}

.nav-active{
	transform:translatex(0%);
}
